
body {
	background-color: #FAEBD7;
}

.navbar-brand {
	font-size: 32px;
	color: #1EAED0;
}
.dropdown {
	color: #675038;
}
.dropdown-toggle {
	font-size: 20px;
	color: #1EAED0;
}
.nav {
	font-size: 16px;
	color: #1EAED0;
}

/* navbar search*/
#search {
	font-family: helvetica;
	top: 20px;
}

.submit-button {
	color: #675038;
	font-size: 16px;
	background-color: #1EAED0;
	border: #1EAED0;
	height: 35px;

}

.search-block {
	background-color: #FAEBD7;
	border: #1EAED0;
	height: 30px;
    width: 200px;
    margin-top: 10px;
    margin-left: 40px;
}
/**/

.form-control {
	width: 30%;
}

.container-fluid {
	background-color: #675038;
}
#kid-lineup {
	display: inline;
	width: 110%;
}
.footer-img {
	display: inline;
}
#footer {
	padding-top: 50px;
    text-align: center;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 50%;
      height: 100%;
      margin: auto;
  }
.testimonial {
	color: #675038;
}

#sell-stuff {
	position: relative;
	padding: 50px;
	margin: auto;
	color: #675038;
	height: 50px;
	font-size: 36px;
	font-weight: bold;
	text-align: center;

}


.btn-default {

	position: relative;
	margin: auto;
	color: #675038;
	height: 75px;
	font-size: 36px;
	text-align: center;
	font-weight: bold;
	background-color: #1EAED0;
	border: #675038 solid 5px;

}
