
body {
	background-color: #FAEBD7;
}
/*.navbar-inverse {
	color: #1EAED0;
}*/

.navbar-inverse .navbar-link {
  color: #1EAED0;
}
.navbar-brand {
	font-size: 32px;
	color: #1EAED0;
}
.dropdown-toggle {
	font-size: 20px;
	color: #1EAED0;
}
.nav {
	font-size: 16px;
	color: #1EAED0;
}

.navbar-nav 
.navbar-inverse {
	color: #1EAED0;
}
.container-fluid {
	background-color: #675038;

}
#kid-lineup {
	position: relative;
	display: inline-block;
	background-size: contain;
	width: 100%;
	align-self: center;
}
.testimonial {
	color: #675038;
}

#footer {
    text-align: center;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 50%;
      height: 100%;
      margin: auto;
  }

#sell-stuff {
	position: relative;
	padding: 50px;
	margin: auto;
	color: #675038;
	height: 50px;
	font-size: 36px;
	: center;
	font-weight: bold;
	/*background-color: #1EAED0;*/
/*	border: #675038 solid 5px;*/
}

.btn-default {

	position: relative;
	padding-top: 50px;
	margin: auto;
	color: #675038;
	height: 50px;
	font-size: 36px;
	text-align: center;
	font-weight: bold;
	background-color: #1EAED0;
	border: #675038 solid 5px;

}
