
body {
	background-color: #FAEBD7;
}

h1, h2 {
	color: #675038;
}

label {
	color: #675038;
}
.navbar-inverse .navbar-brand {
    color: #91ECFC;
}
.navbar-inverse .navbar-nav>li>a {
    color: #91ECFC;
}
.form-control {
	color: #675038;
}

.navbar-brand {
	font-size: 36px;
	color: #1EAED0;
}
.dropdown {
	color: #675038;
}
.dropdown-toggle {
	font-size: 20px;
	color: #1EAED0;
}
.nav {
	font-size: 16px;
	color: #1EAED0;
}

/* navbar search*/
#search {
	font-family: helvetica;
	top: 20px;
}

.submit-button {
	color: #675038;
	font-size: 16px;
	background-color: #91ECFC;
	border: #675038;
	height: 35px;
	border: solid 2px #675038;

}

.form-group {
	background-color: #FAEBD7;
}

.search-block {

	border: #1EAED0;
	height: 30px;
    width: 300px;
    margin-top: 10px;
    margin-left: 80px;
}
/**/

.form-control {
	width: 50%;
}

.form-users {
	left: 200px;
}

.login {
	top: 50px;
}

.container-fluid {
	background-color: #675038;
}
#kid-lineup {
	display: inline;
	width: 110%;
}
.footer-img {
	display: inline;
}
#footer {
	padding-top: 75px;
    text-align: center;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 40%;
      height: 80%;
      margin: auto;
  }
.testimonial {
	color: #675038;
}

#sell-stuff {
	position: relative;
	padding-top: 75px;
	margin: auto;
	color: #675038;
	height: 50px;
	font-size: 36px;
	font-weight: bold;
	text-align: center;

}

.carousel-caption {
	top: 200px;
}
.btn-default {

	position: relative;
	margin: auto;
	color: #675038;
	height: 75px;
	width: 300px;
	font-size: 36px;
	text-align: center;
	font-weight: bold;
	background-color: #91ECFC;
	border: #675038 solid 5px;

}

.text-muted {
	color: #675038;
}
#welcome {
	text-align: center;
}